body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.795);
}

.wrapper{
    margin: auto;
    width: 600px;
}

#image-element{
    margin-top: 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: aliceblue;
}

#btn{
    font-family: "Roboto Mono", serif;
    font-size: 1.2em;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
    transition: transform 0.2s ease;
}

button:active{
    transform: scale(0.96);
}

@media (max-width: 768px) {
    body {
        height: auto;
        display: block;
        justify-content: unset;
        align-items: unset;
    }

    .container{
        margin-top: 25px;
    }
    

    #image-element{
        margin-top: 30px;
        width: 350px;
        height: 400px;
        object-fit: cover;
        border-radius: 8px;
    }

    .wrapper{
        margin: auto;
        width: 350px;
    }

    #btn{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}